@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

body {
    @apply antialiased font-medium text-base-dark dark:text-base-light bg-base-light dark:bg-base-dark;
}

::backdrop {
    @apply bg-black/50 backdrop-blur-[1px];
}
